.sync1 {
    &.owl-carousel {
        .owl-nav {
            width: 100%;
            top: -118px;
            button {
                position: absolute;
                &.owl-next {
                    right: 0;
                }
                &.owl-prev {
                    left: 0;
                }
            }
        }
    }
}

#sync2 {
    .owl-stage-outer {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: calc(100% - 100px);
            height: 1px;
            background: $color-gray-background;
            top: 27px;
            transform: translateX(-50%);
            left: 50%;
        }
    }
    .item {
        padding: 10px 0px;
        margin: 5px;
        color: $color-black;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        span {
            border: solid $color-lightgray;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background: $color-white;
        }
    }
    .current {
        .item {
            .label {
                color: $color-primary;
            }
            span {
                background: $color-primary;
                box-shadow: inset 0px 0px 0px 3px $color-white;
                border: $color-primary solid;
            }
        }
    }
}

.network-title {
    span {
        position: relative;
        &:before {
            position: absolute;
            content: " " attr(title) "";
            right: 0;
            bottom: 0;
            font: 100%;
            font-weight: 900;
            color: $color-lightgray;
            font-size: 94px;
            line-height: 94px;
            z-index: -1;
            opacity: 0.1;
        }
    }
}

@media only screen and (max-width: 1399px) {
    .network-title {
        span {
            &:before {
                font-size: 74px;
                line-height: 74px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .network-title {
        span {
            &:before {
                font-size: 64px;
                line-height: 64px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .network-title {
        word-wrap: break-word;
        word-break: break-word;
        span {
            word-wrap: normal;
            word-break: normal;
            &:before {
                // font-size: 46px;
                // line-height: 46px;
                display: none;
            }
        }
    }
    .sync1 {
        &.owl-carousel {
            .owl-nav {
                top: -94px;
                position: absolute;
                padding-top: 10px;
            }
        }
    }
}