.solution-box {
    .icon {
        &:before {
            background: url("../images/svg/business-sprite.svg") no-repeat;
        }
        &.solution-boxicon-1 {
            &:before {
                width: 48px;
                height: 60px;
                background-position: -723px 0;
            }
        }
        &.solution-boxicon-2 {
            &:before {
                width: 61px;
                height: 60px;
                background-position: -785px 0;
            }
        }
        &.solution-boxicon-3 {
            &:before {
                width: 67px;
                height: 60px;
                background-position: -860px 0;
            }
        }
    }
    &:hover {
        .icon {
            &.solution-boxicon-1 {
                &:before {
                    background-position: -723px -72px;
                }
            }
            &.solution-boxicon-2 {
                &:before {
                    background-position: -785px -72px;
                }
            }
            &.solution-boxicon-3 {
                &:before {
                    background-position: -860px -72px;
                }
            }
        }
    }
}
