.quote-section {
    background: url(../images/bg-fix.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.75);
    }
    .quote-text {
        max-width: 420px;
        &:before {
            content: "";
            position: absolute;
            background-image: url(../images/quote-1.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 35px;
            height: 25px;
            top: auto;
            left: auto;
            margin: -20px 0 0 -40px;
        }
        &:after {
            content: "";
            position: absolute;
            background-image: url(../images/quote-2.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 35px;
            height: 28px;
            right: auto;
            bottom: auto;
            margin: 30px 0 0 10px;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .quote-section {
        .quote-text {
            &:after {
                margin: 25px 0 0 10px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .quote-section {
        .quote-text {
            &:before {
                width: 25px;
                height: 20px;
                margin: -15px 0 0 -30px;
            }
            &:after {
                width: 25px;
                height: 20px;
                margin: 20px 0 0 10px;
            }
        }
    }
}