.reason-section {
    .why-head {
        width: 100%;
        .why-number {
            font-size: 198px;
            line-height: 198px;
        }
        .why-titile {
            span {
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                z-index: -1;
                opacity: 0.08;
            }
        }
    }
}

.reason-wrapper {
    &:last-child {
        margin-bottom: 0 !important;
        .reason-wrapper-inner {
            margin-bottom: 0 !important;
        }
    }
}

@media only screen and (max-width: 1399px) {
    .reason-section {
        .why-head {
            .why-number {
                font-size: 128px;
                line-height: 110px;
            }
            .why-titile {
                font-size: 2.5rem;
                span {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .reason-section {
        .why-head {
            .why-number {
                font-size: 90px;
                line-height: 90px;
            }
            .why-titile {
                font-size: 2.1rem;
                span {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .reason-section {
        .why-head {
            width: auto;
            .why-titile {
                font-size: 1.8rem;
                span {
                    display: none;
                }
            }
            .why-number {
                font-size: 70px;
                line-height: 70px;
            }
        }
        .why-icon {
            max-width: 100px;
            max-height: 100px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .reason-section {
        .why-head {
            width: 100%;
            .why-titile {
                font-size: 1.4rem;
            }
            .why-number {
                font-size: 40px;
                line-height: 40px;
            }
        }
        .why-icon {
            max-width: 60px;
            max-height: 60px;
        }
    }
}
