.innerbanner-section-main {
    position: relative;
    min-height: 622px;
    overflow: hidden;
    .banner-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .banner-text {
        top: 22%;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 40.5%;
            background-color: $color-white;
            opacity: 0.9;
        }
        h1 {
            max-width: 480px;
        }
        .banner-discription {
            max-width: 480px;
        }
    }
    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 30%;
        z-index: 1;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    }
}

.blogdetailsbanner-section-main {
    min-height: calc(80vh - 115.98px);
    .banner-image {
        object-position: center bottom;
    }
    .banner-text {
        .catagory {
            z-index: 2;
            &:before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100vw;
                right: -10px;
                top: 0;
                z-index: -1;
                background-color: $color-primary;
            }
        }
    }
    &:after {
        display: none;
    }
}

.about-typewriter-text {
    max-width: 600px;
}

@media only screen and (min-width: 1200px) {
    .blogdetailsbanner-section-main {
        .banner-text {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            &:before {
                display: none;
            }
        }
        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 40.5%;
            background-color: $color-white;
            opacity: 0.9;
            z-index: 1;
        }
    }
}
@media only screen and (min-width: 2000px) {
    .innerbanner-section-main {
        .banner-text {
            &:before {
                width: 50%;
            }
        }
    }
    .blogdetailsbanner-section-main {
        &:before {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 1399px) {
    .innerbanner-section-main {
        .banner-text {
            &:before {
                width: 45%;
            }
        }
    }
    .blogdetailsbanner-section-main {
        min-height: calc(80vh - 78.77px);
        &:before {
            width: 45%;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .innerbanner-section-main {
        min-height: 510px;
        .banner-text {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            &:before {
                width: 55%;
            }
        }
    }
    .blogdetailsbanner-section-main {
        min-height: calc(80vh - 78.77px);
        .banner-text {
            &:before {
                display: block;
                width: 90%;
                z-index: -1;
            }
            .banner-discription {
                max-width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .innerbanner-section-main {
        .banner-text {
            &:before {
                width: 100%;
                opacity: 0.9;
            }
            h1 {
                max-width: max-content;
            }
            .banner-discription {
                max-width: 100%;
            }
        }
    }
    .blogdetailsbanner-section-main {
        min-height: calc(80vh - 68.77px);
    }
}

@media only screen and (max-width: 767px) {
    .innerbanner-section-main {
        .banner-text {
            &:before {
                background-image: linear-gradient(90deg, #fff 40%, rgba(255, 255, 255, 0.5) 100%);
            }
        }
    }
    .blogdetailsbanner-section-main {
        min-height: calc(80vh - 55.22px);
    }
}
