.about-solution-slider {
    .solution-box {
        .box-title {
            max-width: 88%;
        }
    }
}
.solution-box {
    .icon {
        &:before {
            background: url("../images/svg/business-sprite.svg") no-repeat;
        }
        &.about-icon-one {
            &:before {
                width: 61px;
                height: 60px;
                background-position: -498px 0;
            }
        }
        &.about-icon-two {
            &:before {
                width: 61px;
                height: 54px;
                background-position: -573px 0;
            }
        }
        &.about-icon-three {
            &:before {
                width: 61px;
                height: 51px;
                background-position: -648px 0;
            }
        }
    }
    &:hover {
        .icon {
            &.about-icon-one {
                &:before {
                    background-position: -498px -72px;
                }
            }
            &.about-icon-two {
                &:before {
                    background-position: -573px -78px;
                }
            }
            &.about-icon-three {
                &:before {
                    background-position: -648px -81px;
                }
            }
        }
    }
}
