.subscribe-box {
    background-image: url(../images/svg/subscribe-bg.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.subscribe-form {
    .yikes-easy-mc-form {
        input[type="email"] {
            box-shadow: 6px 10.392px 29px rgba(0, 0, 0, 0.1%);
            padding: 0 210px 0 26px;
            background-color: $color-white;
            height: 60px;
            outline: none;
            margin: 0;
            border: none;
            border-radius: 50px;
            &:focus {
                outline: none;
            }
        }
        .submit-button {
            position: absolute;
            top: 0;
            right: 0;
            height: 60px;
            padding: 0 30px;
            margin: 0;
            max-width: 200px;
            width: 100%;
            background-color: $color-primary;
            color: $color-white;
            cursor: pointer;
            outline: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: right center;
            transform-origin: right center;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            @extend .transiton-03s;
            &:hover {
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                right: 5px;
            }
        }
        label {
            &.label-inline {
                float: none;
                width: 100%;
                padding-right: 0;
                margin: 0;
            }
        }
        .field-no-label,
        label {
            margin-bottom: 0;
        }
        .submit-button-inline-label {
            .yikes-easy-mc-submit-button {
                margin-bottom: 0;
            }
        }
    }
    .yikes-easy-mc-success-message,
    .yikes-easy-mc-error-message {
        padding: 10px;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        &:before {
            position: absolute;
            content: "";
            left: 50px;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid #dff2bf;
        }
    }
    .yikes-easy-mc-error-message {
        &:before {
            border-top: 10px solid #ffbaba;
        }
    }
}

.footer-link {
    .links {
        ul {
            li {
                &:before {
                    content: "";
                    position: absolute;
                    height: 60%;
                    left: 0;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $color-darkgray;
                }
                &:first-child {
                    margin: 0 !important;
                    padding: 0 !important;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .social-icons {
        .icons {
            a {
                width: 30px;
                height: 30px;
                background-color: $color-gray;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    background-color: $color-primary;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    border-radius: 50%;
                    @extend .transiton-03s;
                }
                &:before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    background-image: url(../images/svg/social-icon-sprite.svg);
                    background-repeat: no-repeat;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
                &.instagram {
                    &:before {
                        background-position: -117px -24px;
                        width: 15px;
                        height: 15px;
                        top: 7.5px;
                        left: 8px;
                    }
                }
                &.linkedin {
                    &:before {
                        background-position: -51px -23px;
                        width: 14px;
                        height: 16px;
                        top: 6px;
                        left: 8px;
                    }
                }
                &.twitter {
                    &:before {
                        background-position: -26px -25px;
                        width: 16px;
                        height: 13px;
                        top: 9px;
                        left: 7px;
                    }
                }
                &.facebook {
                    &:before {
                        background-position: -75px -23px;
                        width: 9px;
                        height: 16px;
                        top: 7px;
                        left: 11px;
                    }
                }
                &.email {
                    &:before {
                        background-position: 0 -25px;
                        width: 17px;
                        height: 13px;
                        top: 8px;
                        left: 7px;
                    }
                }
                &:hover {
                    &:after {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
                ~a {
                    margin-left: 8px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .subscribe-form {
        .yikes-easy-mc-form {
            input[type="email"] {
                height: 50px;
            }
            .submit-button {
                height: 50px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .subscribe-form {
        .yikes-easy-mc-form {
            input[type="email"] {
                height: 40px;
            }
            .submit-button {
                height: 40px;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .subscribe-form {
        text-align: center;
        .yikes-easy-mc-form {
            input[type="email"] {
                padding: 0 20px;
            }
            label {
                &.label-inline {
                    margin: 0 auto 20px;
                }
            }
            .submit-button {
                position: static;
                margin: auto;
                -webkit-transform-origin: center;
                transform-origin: center;
            }
        }
    }
    .footer-link {
        .links {
            ul {
                li {
                    width: 100%;
                    display: block;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}