$iomarket-fonts: "Aileron";
$color-black: #000000;
$color-primary: #b7eb00;
$color-lightgray: #383838;
$color-darkgray: #101010;
$color-dark: #535353;
$color-gray: #8c8c8c;
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.9);
$color-gray-border: #d5d5d5;
$color-gray-background: #f3f3f3;
$color-hover-layer: #b8b8b8;
