.solution-box {
    .icon {
        &:before {
            background: url("../images/svg/solution-sprite.svg") no-repeat;
        }
        &.solutioninner-boxicon-470-1 {
            &:before {
                width: 61px;
                height: 60px;
                background-position: 0 0;
            }
        }
        &.solutioninner-boxicon-470-2 {
            &:before {
                width: 61px;
                height: 60px;
                background-position: -75px 0;
            }
        }
        &.solutioninner-boxicon-470-3 {
            &:before {
                width: 54px;
                height: 60px;
                background-position: -150px 0;
            }
        }
        &.solutioninner-boxicon-470-4 {
            &:before {
                width: 66px;
                height: 60px;
                background-position: -218px 0;
            }
        }
        &.solutioninner-boxicon-470-5 {
            &:before {
                width: 53px;
                height: 60px;
                background-position: -298px 0;
            }
        }
        &.solutioninner-boxicon-470-6 {
            &:before {
                width: 66px;
                height: 50px;
                background-position: -373px -5px;
            }
        }
        &.solutioninner-boxicon-1439-1 {
            &:before {
                width: 60px;
                height: 60px;
                background-position: 0 -151px;
            }
        }
        &.solutioninner-boxicon-1439-2 {
            &:before {
                width: 61px;
                height: 61px;
                background-position: -75px -150px;
            }
        }
        &.solutioninner-boxicon-1439-3 {
            &:before {
                width: 56px;
                height: 61px;
                background-position: -150px -150px;
            }
        }
        &.solutioninner-boxicon-1439-4 {
            &:before {
                width: 62px;
                height: 60px;
                background-position: -220px -151px;
            }
        }
        &.solutioninner-boxicon-1439-5 {
            &:before {
                width: 60px;
                height: 60px;
                background-position: -296px -151px;
            }
        }
        &.solutioninner-boxicon-1439-6 {
            &:before {
                width: 66px;
                height: 50px;
                background-position: -373px -156px;
            }
        }
        &.solutioninner-boxicon-1441-1 {
            &:before {
                width: 60px;
                height: 61px;
                background-position: 0 -300px;
            }
        }
        &.solutioninner-boxicon-1441-2 {
            &:before {
                width: 61px;
                height: 61px;
                background-position: -75px -300px;
            }
        }
        &.solutioninner-boxicon-1441-3 {
            &:before {
                width: 66px;
                height: 48px;
                background-position: -150px -307px;
            }
        }
        &.solutioninner-boxicon-1441-4 {
            &:before {
                width: 61px;
                height: 60px;
                background-position: -230px -301px;
            }
        }
        &.solutioninner-boxicon-1441-5 {
            &:before {
                width: 56px;
                height: 61px;
                background-position: -305px -300px;
            }
        }
        &.solutioninner-boxicon-1441-6 {
            &:before {
                width: 66px;
                height: 50px;
                background-position: -373px -306px;
            }
        }
        &.solutioninner-boxicon-1444-1 {
            &:before {
                width: 69px;
                height: 61px;
                background-position: 0 -450px;
            }
        }
        &.solutioninner-boxicon-1444-2 {
            &:before {
                width: 69px;
                height: 49px;
                background-position: -83px -456px;
            }
        }
        &.solutioninner-boxicon-1444-3 {
            &:before {
                width: 61px;
                height: 61px;
                background-position: -166px -450px;
            }
        }
        &.solutioninner-boxicon-1444-4 {
            &:before {
                width: 61px;
                height: 61px;
                background-position: -241px -450px;
            }
        }
        &.solutioninner-boxicon-1444-5 {
            &:before {
                width: 56px;
                height: 61px;
                background-position: -316px -450px;
            }
        }
        &.solutioninner-boxicon-1444-6 {
            &:before {
                width: 65px;
                height: 50px;
                background-position: -387px -456px;
            }
        }
        &.solutioninner-boxicon-1446-1 {
            &:before {
                width: 56px;
                height: 61px;
                background-position: 0 -601px;
            }
        }
        &.solutioninner-boxicon-1446-2 {
            &:before {
                width: 61px;
                height: 61px;
                background-position: -70px -601px;
            }
        }
        &.solutioninner-boxicon-1446-3 {
            &:before {
                width: 59px;
                height: 61px;
                background-position: -146px -601px;
            }
        }
        &.solutioninner-boxicon-1446-4 {
            &:before {
                width: 62px;
                height: 61px;
                background-position: -219px -601px;
            }
        }
        &.solutioninner-boxicon-1446-5 {
            &:before {
                width: 60px;
                height: 61px;
                background-position: -295px -601px;
            }
        }
        &.solutioninner-boxicon-1446-6 {
            &:before {
                width: 65px;
                height: 50px;
                background-position: -370px -607px;
            }
        }
        &.solutioninner-boxicon-1448-1 {
            &:before {
                width: 60px;
                height: 60px;
                background-position: 0 -752px;
            }
        }
        &.solutioninner-boxicon-1448-2 {
            &:before {
                width: 65px;
                height: 61px;
                background-position: -75px -751px;
            }
        }
        &.solutioninner-boxicon-1448-3 {
            &:before {
                width: 69px;
                height: 48px;
                background-position: -153px -758px;
            }
        }
        &.solutioninner-boxicon-1448-4 {
            &:before {
                width: 60px;
                height: 60px;
                background-position: -236px -752px;
            }
        }
        &.solutioninner-boxicon-1448-5 {
            &:before {
                width: 60px;
                height: 60px;
                background-position: -312px -752px;
            }
        }
        &.solutioninner-boxicon-1448-6 {
            &:before {
                width: 54px;
                height: 60px;
                background-position: -387px -752px;
            }
        }
    }
    &:hover {
        .icon {
            &.solutioninner-boxicon-470-1 {
                &:before {
                    background-position: 0 -75px;
                }
            }
            &.solutioninner-boxicon-470-2 {
                &:before {
                    background-position: -75px -74px;
                }
            }
            &.solutioninner-boxicon-470-3 {
                &:before {
                    background-position: -150px -75px;
                }
            }
            &.solutioninner-boxicon-470-4 {
                &:before {
                    background-position: -218px -74px;
                }
            }
            &.solutioninner-boxicon-470-5 {
                &:before {
                    background-position: -298px -75px;
                }
            }
            &.solutioninner-boxicon-470-6 {
                &:before {
                    background-position: -373px -80px;
                }
            }
            &.solutioninner-boxicon-1439-1 {
                &:before {
                    background-position: 0 -226px;
                }
            }
            &.solutioninner-boxicon-1439-2 {
                &:before {
                    background-position: -75px -225px;
                }
            }
            &.solutioninner-boxicon-1439-3 {
                &:before {
                    background-position: -150px -225px;
                }
            }
            &.solutioninner-boxicon-1439-4 {
                &:before {
                    background-position: -220px -226px;
                }
            }
            &.solutioninner-boxicon-1439-5 {
                &:before {
                    background-position: -296px -226px;
                }
            }
            &.solutioninner-boxicon-1439-6 {
                &:before {
                    background-position: -373px -231px;
                }
            }
            &.solutioninner-boxicon-1441-1 {
                &:before {
                    background-position: 0 -375px;
                }
            }
            &.solutioninner-boxicon-1441-2 {
                &:before {
                    background-position: -75px -375px;
                }
            }
            &.solutioninner-boxicon-1441-3 {
                &:before {
                    background-position: -150px -382px;
                }
            }
            &.solutioninner-boxicon-1441-4 {
                &:before {
                    background-position: -230px -376px;
                }
            }
            &.solutioninner-boxicon-1441-5 {
                &:before {
                    background-position: -305px -375px;
                }
            }
            &.solutioninner-boxicon-1441-6 {
                &:before {
                    background-position: -373px -381px;
                }
            }
            &.solutioninner-boxicon-1444-1 {
                &:before {
                    background-position: 0 -525px;
                }
            }
            &.solutioninner-boxicon-1444-2 {
                &:before {
                    background-position: -83px -531px;
                }
            }
            &.solutioninner-boxicon-1444-3 {
                &:before {
                    background-position: -166px -525px;
                }
            }
            &.solutioninner-boxicon-1444-4 {
                &:before {
                    background-position: -241px -525px;
                }
            }
            &.solutioninner-boxicon-1444-5 {
                &:before {
                    background-position: -316px -525px;
                }
            }
            &.solutioninner-boxicon-1444-6 {
                &:before {
                    background-position: -387px -531px;
                }
            }
            &.solutioninner-boxicon-1446-1 {
                &:before {
                    background-position: 0 -676px;
                }
            }
            &.solutioninner-boxicon-1446-2 {
                &:before {
                    background-position: -70px -676px;
                }
            }
            &.solutioninner-boxicon-1446-3 {
                &:before {
                    background-position: -146px -676px;
                }
            }
            &.solutioninner-boxicon-1446-4 {
                &:before {
                    background-position: -219px -676px;
                }
            }
            &.solutioninner-boxicon-1446-5 {
                &:before {
                    background-position: -295px -676px;
                }
            }
            &.solutioninner-boxicon-1446-6 {
                &:before {
                    background-position: -370px -682px;
                }
            }
            &.solutioninner-boxicon-1448-1 {
                &:before {
                    background-position: 0 -827px;
                }
            }
            &.solutioninner-boxicon-1448-2 {
                &:before {
                    background-position: -75px -826px;
                }
            }
            &.solutioninner-boxicon-1448-3 {
                &:before {
                    background-position: -153px -833px;
                }
            }
            &.solutioninner-boxicon-1448-4 {
                &:before {
                    background-position: -236px -827px;
                }
            }
            &.solutioninner-boxicon-1448-5 {
                &:before {
                    background-position: -312px -827px;
                }
            }
            &.solutioninner-boxicon-1448-6 {
                &:before {
                    background-position: -387px -827px;
                }
            }
        }
    }
}
