.font-black {
    font-weight: 900;
}

.font-bold {
    font-weight: bold;
}

.font-semibold {
    font-weight: 600;
}

.font-regular {
    font-weight: normal;
}

.font-ultralight {
    font-weight: 200;
}

.font-heavy {
    font-weight: 900;
}

.font-light {
    font-weight: 300;
}

.font-thin {
    font-weight: 100;
}